.navigation {
    background-color: rgba(129, 127, 162, 0.8);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    flex-direction: row;
    box-sizing: border-box;
    align-items: stretch;
    justify-items: stretch;
    justify-content: flex-start;
}

.navigation_logo {
    margin-right: 0;
    /*display: inline-block;*/
    /*box-sizing: border-box;*/
    /*margin-left: auto;*/
}

.navigation_links {
    /*display: inline-block;*/
    /*box-sizing: border-box;*/
}

.navigation_link, navigation_language {
    font-weight: 400 !important;
    font-size: 1rem !important;
    color: white !important;
}

.flag_image {
    margin-right: 10px;
}

.navigation_link:hover {
    margin: auto;
    font-weight: 700 !important;
}

@media only screen and (max-width: 992px) {
    .navigation_languages {
        margin-top: 20px;
        margin-bottom: 20px;
    }
}

